video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    padding: 20px;
    background: none;
}

.hero-container > h1 {
    color: #fff;
    font-size: 90px;
    margin-top: -100px;
    display: inline;
}

.typical {

}

.hero-container > h2 {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    margin: 6px;
}

.hero-btns .btn:hover > #book {
    transition: all 0.3s ease-out;
    color: #242424;
}

.fa-play-circle {
    margin-left: 4px;
}

.skills-container {
    background: #2f2e2d;
}

.skills-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

.skills-card {
    background: #242424;
    margin: 5px;
    padding: 10px;
}

.skills-list div {
    width: 25%;
}

.skill-icon {
    font-size: 2rem;
    margin-bottom: .4rem;
}

.skills-list h3 {
    font-size: 1.6rem;
    margin-bottom: .4rem;
    font-family: Robot, sans-serif;
}

.skills-list p {
    margin: 5px;
    font-size: 1.2rem;
    font-family: Robot, sans-serif;
}

.about {
    padding: 2rem;
    background-color: #242424;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.6;
}

.about h3 {
    text-align: center;
    font-size: 1.6rem;
}

@media screen and (max-width: 960px) {
    .hero-container > h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container > h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .hero-container > p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}