#process {
    background: #CACAC9;
    padding: 2rem;
}

#process h2 {
    color: #242424;
}

#process section > p {
    font-size: 1.2rem;
    padding-bottom: 2rem;
    color: #242424;
}

#timeline {
    background: #242424;
    padding: 0 2rem ;
}

#time-line  ul {
    padding: 2rem;
}

.list-item {
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding: 3rem 0 0 0;
    background: #CACAC9;
}

.card {
    position: relative;
    bottom: 0;
    top: 7px;
    width: 400px;
    padding: 2rem;
    transition: all 0.5s ease-in-out;
    border: #CACAC9 solid 4px;
    background: #CACAC9;
}

.card h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #242424;
}

.card p {
    color: #242424;
}

.card svg {
    margin: 0 1rem;
}

/* ARROW STYLE */
.card:before {
    content: "";
    position: absolute;
    bottom: 5px;
    width: 0;
    height: 0;
    border-style: solid;
}

/* DOTS STYLE */
.list-item:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 20px;
    height: 20px;
    background: #CACAC9;
    transform: translateX(-50%);
    border-radius: 50%;
}

/* Right Side Boxes */
.list-item:nth-child(odd) div {
    left: 40px;
}
/* Right Side Arrows */
.list-item:nth-child(odd) div:before {
    left: -20px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #CACAC9 transparent transparent;
}

/* Left Side Boxes */
.list-item:nth-child(even) div {
    left: -434px;
}
/* Left Side Arrows */
.list-item:nth-child(even) div:before {
    right: -20px;
    border-width: 8px 0px 8px 16px;
    border-color: transparent transparent transparent #CACAC9;
}

.list-item:last-child {
    padding: 3rem 0 3rem 0;
}

.list-item:last-child:after {
    bottom: 3rem;
}