$orange-web: rgba(255, 164, 0, 1);
$carolina-blue: rgba(0, 159, 253, 1);
$st-patricks-blue: rgba(42, 42, 114, 1);
$raisin-black: rgba(35, 37, 40, 1);
$alice-blue: rgba(234, 246, 255, 1);

$gradient-top: linear-gradient(0deg, #ffa400ff, #009ffdff, #2a2a72ff, #232528ff, #eaf6ffff);
$gradient-right: linear-gradient(90deg, #ffa400ff, #009ffdff, #2a2a72ff, #232528ff, #eaf6ffff);
$gradient-bottom: linear-gradient(180deg, #ffa400ff, #009ffdff, #2a2a72ff, #232528ff, #eaf6ffff);
$gradient-left: linear-gradient(270deg, #ffa400ff, #009ffdff, #2a2a72ff, #232528ff, #eaf6ffff);
$gradient-top-right: linear-gradient(45deg, #ffa400ff, #009ffdff, #2a2a72ff, #232528ff, #eaf6ffff);
$gradient-bottom-right: linear-gradient(135deg, #ffa400ff, #009ffdff, #2a2a72ff, #232528ff, #eaf6ffff);
$gradient-top-left: linear-gradient(225deg, #ffa400ff, #009ffdff, #2a2a72ff, #232528ff, #eaf6ffff);
$gradient-bottom-left: linear-gradient(315deg, #ffa400ff, #009ffdff, #2a2a72ff, #232528ff, #eaf6ffff);
$gradient-radial: radial-gradient(#ffa400ff, #009ffdff, #2a2a72ff, #232528ff, #eaf6ffff);